@model H3ServersideProject.Models.User
@{
    ViewData["Title"] = "Login";
}

<section>
    <div class="container py-5 h-100">
        <!--Color til login - #d86502/#02D8D0 -->
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: slategrey !important;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            <hr />
                            <form id="login-form">
                                <!-- EMAIL-->
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typeEmailX"><b>Email</b></label>
                                    <input type="email" placeholder="Enter Email" name="eml" ID="email" class="form-control form-control-lg">
                                </div>
                                <!-- EMAIL-->
                                <!-- PASSWORD-->
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="typePasswordX"><b>Password</b></label>
                                    <input type="password" placeholder="Enter Password" name="psw" id="password" class="form-control form-control-lg">
                                </div>
                                <!-- PASSWORD-->

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit" id="login-button">Login</button>
                            </form>

                        </div>
                        <div>
                            <p class="mb-0">Don't have an account? <a asp-area="" asp-controller="Register" asp-action="Register" class="text-white-50 fw-bold">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#login-form").submit(function (event) {
            event.preventDefault();

            var formData = {
                email: $("#email").val(),
                password: $("#password").val()
            };


            $.ajax({
                url: "/Login/Post",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (result) {
                    console.log(result);
                    window.location.href = "/MyProfile";
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error: " + errorThrown);
                }
            });
        });
    });
</script>