@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 style="text-align:center; color: red;">Om os</h1>
    <p style="color:white">
        Best Bio A/S - en del af Fokus Biograferne

        Velkommen til Holbæks nye biografkomplex med 4 top moderne sale.

        Biografen åbnede d. 12.12.12 på Parallelvej 35 med udsigt til Holbæk Fjord.

        Biografen har ialt 457 siddepladser med god komfort, optimalt billede og en suveræn lydoplevelse.

        Der er fri parkering foran biografen.

        Inden filmen er der mulighed for at hygge med familien og venner i vores café og om sommeren er der mulighed for at sidde udenfor på vores terasse, med udsigt til fjorden.

        Det er ikke tilladt at medtage egne varer såsom slik - sodavand og lign. med i vores biograf eller salene.

        Vores kiosk sørger bl.a. for "Ta selv slik", Popcorn, Bacon Snacks og drikkevarer til filmen.

        Vi glæder os til at give dig en god filmoplevelse - God fornøjelse!
    </p>
    <h3 style="color: white;">Lidt historie</h3>
    <p style="color:white">
        Foreningen Sidesporet overtog i 1997 Grand Bio, som vi omdannede til en 1-salsbiograf med 135 pladser. Siden da fik vi opbygget et stort publikum og havde mellem 70.000 og 80.000 gæster pr. år.

        Denne positive udvikling medførte, at vi de sidste mange år arbejdede på at skaffe grundlag for et egentligt biografcenter med 3 - 4 sale.

        Det er blevet en realitet og vi har nu en biograf med 456 pladser fordelt på 4 top moderne sale.

        Den 12. december åbnede Holbæks nye biograf "Kulturbiografen Frysehuset" på det gamle havneområde. Havnen's gamle virksomheder er efterhånden lukket og den gamle industrihavn er ved at blive omdannet til områder, hvor byens borgere kan samles om fælles aktiviteter i fremtiden.

        Biografen er opført i et gammel frysehus ved hjælp af lokale håndværkere og Sidesporets egne folk. Byggeriet er finansieret af Nykredit og Spk Sj. og Foreningen sidesporets fond. Biografen drives som et alm aktieselskab eget af Sidesporets fond og med det samme formål, nemlig at skaffe arbejdspladser og give kulturelle tilbud. Biografen er ikke non.profit !
    </p>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/lib/Pictures/BestBio.png" alt="Los Angeles" class="d-block w-100" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/lib/Pictures/Inside.png" alt="Chicago" class="d-block w-100" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/lib/Pictures/1.png" alt="New York" class="d-block w-100" />
                    </div>
                </div>
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
    </div>
</div>
