@{
    ViewData["Title"] = "Priser";
}
<div class="container">
    <center>
        <img src="~/lib/Pictures/Pris.png" />
    </center>

    <h4>Billet Priser</h4>
    <p>
        Normal billet 100 kr. (10kr rabat på de to første og sidste rækker)
        <br />Eksklusivt sæde 120 kr.
        <br />Børn eller pensionister 90 kr.
        <br />
        <br />Forestillinger over 2 timer koster 20 kr.yderligere per påbegyndt halve time.
    </p>
    <h4>Sodavand</h4>
    <p>
        Lille sodavand 20 kr.
        <br />Mellem sodavand 30 kr.
        <br />Stor sodavand 45 kr.
    </p>
    <h4>Slik</h4>
    <p>
        100 g bland-selv slik 25 kr.
        <br />
    </p>
    <h4>Popcorn</h4>
    <p>
        Lille popcorn 15 kr.
        <br />Mellem popcorn 20 kr.
        <br />Stor popcorn 30 kr.
    </p>
</div>