@{
    ViewData["Title"] = "Program";
}

<link rel="stylesheet" href="~/css/SeatsStyleSheet.css" />

<div class="container mt-5">
    <h1 class="text-danger text-center">Program</h1>
</div>

<!-- FILM 1 I SAL 1 -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-danger text-center">Sal 1</h3>
            <div class="card mt-3">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="card-img" src="~/lib/Pictures/scarymovie.png" alt="Card image" />
                    </div>
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h2 class="card-title">Scary Movie 2</h2>
                            <p class="card-text">A group of teens including Cindy Campbell (Anna Faris) and Brenda Meeks (Regina Hall) are invited to spend a night in Hell House. Professor Oldman (Tim Curry) has convinced them it is for a school project, but the night won't go past quietly. Master Kane (Richard Moll) is long dead, but still plans on enjoying himself, especially with Alex Monday (Tori Spelling).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 hide">
            <h3 class="text-danger text-center">Vælg sæder</h3>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="container-fluid allSeats">
                                <div class="screen"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                    <div class="row">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                    <div class="row">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                    <div class="row">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid mt-3">
                                <ul class="showcase">
                                    <li>
                                        <div class="liseat"></div>
                                        <small>Available</small>
                                    </li>
                                    <li>
                                        <div class="liseatselected"></div>
                                        <small>Selected</small>
                                    </li>
                                    <li>
                                        <div class="liseatsold"></div>
                                        <small>Sold</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FILM 2 I SAL 2 -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-danger text-center">Sal 2</h3>
            <div class="card mt-3">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="card-img" src="~/lib/Pictures/spiderman.jpg" alt="Card image" />
                    </div>
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h2 class="card-title">Spider-Man: No Way Home</h2>
                            <p class="card-text">Peter Parker's secret identity is revealed to the entire world. Desperate for help, Peter turns to Doctor Strange to make the world forget that he is Spider-Man. The spell goes horribly wrong and shatters the multiverse, bringing in monstrous villains that could destroy the world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 hide">
            <h3 class="text-danger text-center">Vælg sæder</h3>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="container-fluid allSeats">
                                <div class="screen"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                    <div class="row">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                    <div class="row">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                    <div class="row">
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                        <div class="seat"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid mt-3">
                                <ul class="showcase">
                                    <li>
                                        <div class="liseat"></div>
                                        <small>Available</small>
                                    </li>
                                    <li>
                                        <div class="liseatselected"></div>
                                        <small>Selected</small>
                                    </li>
                                    <li>
                                        <div class="liseatsold"></div>
                                        <small>Sold</small>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/ReservationScript.js">
</script>


