@model H3ServersideProject.Models.User

@{
    ViewData["Title"] = "Register";
}
<section>
    <div class="container py-5 h-100">
        <!--Color til login - #d86502/#02D8D0 -->
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: slategray !important;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
                            <p class="text-white-50 mb-5">Please fill in this form to create an account.</p>
                            <hr>
                            <form id="registration-form">
                                <label class="form-label"><b>Name</b></label>
                                <input id="name" class="form-control form-control-lg" placeholder="Enter Name" type="text" name="name"><br>

                                <label class="form-label"><b>Address</b></label>
                                <input id="address" type="text" placeholder="Enter Address" name="address" class="form-control form-control-lg"><br>

                                <label class="form-label"><b>Phonenumber</b></label>
                                <input id="phoneNumber" type="text" placeholder="Enter Number" name="number" class="form-control form-control-lg"><br>

                                <label class="form-label"><b>Email</b></label>
                                <input id="email" type="email" placeholder="Enter Email" name="eml" class="form-control form-control-lg"><br>

                                <label class="form-label"><b>Password </b></label>
                                <input id="password" type="password" placeholder="Enter Password" name="psw" class="form-control form-control-lg" pattern="(?=.*d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"><br>

                                <p class="mb-5">By creating an account you agree to our <a href="#" style="color: dodgerblue">Terms & Privacy</a>.</p>

                                <div class="clearfix mb-5">
                                    <button class=" btn btn-outline-light btn-lg px-5" type="submit" id="register-button">Register</button>
                                    <br />
                                    <br />
                                    <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Index">Tilbage til login</a>

                                    <!-- <button asp-area="" asp-controller="Login" asp-action="Index" class=" btn btn-outline-light btn-lg px-5">Tilbage til login</button>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#registration-form").submit(function (event) {
            event.preventDefault();

            var formData = {
                name: $("#name").val(),
                address: $("#address").val(),
                email: $("#email").val(),
                phoneNumber: $("#phoneNumber").val(),
                password: $("#password").val()
            };

            $.ajax({
                url: "/Register/Post",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (result) {
                    console.log(result);
                    window.location.href = "/Login";
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error: " + errorThrown);
                }
            });
        });
    });
</script>