@model H3ServersideProject.Models.User

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/MyProfileStyle.css" />

<section>
    <div class="container py-5 h-100">
        <!--Color til login - #d86502/#02D8D0 -->
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: slategray !important;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Opret bruger</h2>
                            <p class="text-white-50 mb-3">Please fill in this form to create an account.</p>
                            <hr>
                            <form id="registration-form">
                                <div class="form-group">
                                    <label class="form-label"><b>Navn</b></label>
                                    <input id="name" class="form-control form-control-lg" placeholder="Navn" type="text" name="name"><br>
                                    <div class="alert-primary alerts" role="alert">
                                        <p class="alert-text" id="Name"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label"><b>Adresse</b></label>
                                    <input id="address" type="text" placeholder="Adresse" name="address" class="form-control form-control-lg"><br>
                                    <div class="alert-primary alerts" role="alert">
                                        <p class="alert-text" id="Address"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label"><b>Mobilnummer</b></label>
                                    <input id="phoneNumber" type="text" placeholder="Nummer" name="number" class="form-control form-control-lg"><br>
                                    <div class="alert-primary alerts" role="alert">
                                        <p class="alert-text" id="PhoneNumber"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"><b>Email</b></label>
                                    <input id="email" type="email" placeholder="Email" name="eml" class="form-control form-control-lg"><br>
                                    <div class="alert-primary alerts" role="alert">
                                        <p class="alert-text" id="Email"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label"><b>Kodeord</b></label>
                                    <input id="password" type="password" placeholder="Kodeord" name="psw" class="form-control form-control-lg"><br>
                                    <div class="alert-primary alerts" role="alert">
                                        <p class="alert-text" id="Password"></p>
                                    </div>
                                </div>

                                <p class="mb-5">By creating an account you agree to our <a href="#" style="color: dodgerblue">Terms & Privacy</a>.</p>

                                <div class="clearfix mb-5">
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit" id="registerButton">Opret</button>
                                    <br />
                                    <br />
                                    <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Index">Tilbage til login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#registration-form").submit(function (event) {
            event.preventDefault();

            var formData = {
                name: $("#name").val(),
                address: $("#address").val(),
                email: $("#email").val(),
                phoneNumber: $("#phoneNumber").val(),
                password: $("#password").val()
            };

            $.ajax({
                url: "/Register/Post",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (result) {
                    console.log(result);
                    window.location.href = "/Login";
                },
                error: function (error) {
                    Object.entries(error.responseJSON.errors).forEach((obj) => {
                        const element = document.getElementById(obj[0]);
                        const messages = obj[1];

                        let message = "";

                        messages.forEach((valuez) => {
                            message += valuez + "<br>";
                        })

                        console.log(obj[0], obj[1], message, element)

                        $(document).ready(function () {
                            $('#registerButton').click(function () {
                                $('.alert-primary').show();
                            })
                        });
                        element.innerHTML = message + "<br>";
                    })

                }
            });
        });
    });
</script>